.dropdown {
    margin: 20px;
}

.dropdown-menu {
    max-height: 20rem;
    overflow-y: auto;
}

.defaultBackground {
    background-color: #0302B5;
}

#gate {
    font-size: 3.8vw;
    color: #000000;
    background-color: #F5FE3F /*#F5FE3F*/;
    font-weight: bold;
    text-align: center;
}

#belt {
    font-size: 3.8vw;
    background-color: #151D41;
    color: #F2ED77;
    font-weight: bold;
    text-align: center;
}
/*#0302B5 depboard*/
/*#F5FE3F gate*/

/*fonts*/

#arrived {
    font-size: 3.0vw;
    border: 1px solid black;
    font-weight: bold;
    background-color: #ffffff;
    align-self: center;
}

#early {
    font-size: 3.0vw;
    border: 0px;
    font-weight: bold;
    background-color: #358F38;
    color: #ffffff;
    align-self: center;
    text-align: center;
}
/*oranssi on #F29401*/
#equipment {
    font-size: 3.0vw;
    color: #ffffff /*#EBFCA0*/;
    background-color: #0302B5;
    font-weight: bold;
    text-align: center;
}

.flight {
    font-size: 3.0vw;
    color: #ffffff /*#EBFCA0*/;
    background-color: #0302B5;
    font-weight: bold;
}

.main {
    font-size: 14px;
    background-color: #ffffff;
}

#time {
    font-size: 3.0vw;
    color: #E3EE8E /*#EBFCA0*/;
    background-color: #0302B5;
    font-weight: bold;
}

#destination {
    font-size: 3.0vw;
    color: #E3EE8E /*#EBFCA0*/;
    background-color: #0302B5;
    font-weight: bold;
}

#registration {
    font-size: 2.0vw;
    color: #ffffff /*#EBFCA0*/;
    background-color: #0302B5;
    font-weight: bold;
    text-align: center;
}

#linkText {
    font-size: 3.0vw;
    font-weight: bold;
    text-align: center;
    vertical-align: text-bottom;
}
