
body {
    height: auto;
}

.main {
    font-size: 14px;
    background-color: #ffffff;
}

#paddingMagnifier {
    padding-right: 8px;
}

#paddingElement2{
    padding-left: 56px;
    padding-bottom: 16px;
    font-size: 16px;
}

#paddingElement3 {
    padding-top: 8px;
    padding-left: 8px;
    padding-bottom: 8px;
}

.container.fluid{
    margin-top: 0;
}


@media only screen and (min-width: 1px) and (max-width: 410px) {
    table, thead, tbody, th, td, tr {
        display: block;
    }

    #hideThis {
        display: none;
    }

    .header{
        display: none;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        position: absolute;
        display: none;
        top: -9999px;
        left: -9999px;
    }

    tr {
        border: 10px solid #ccc;
        border-style: inset;
    }

    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

        td:before {
            /* Now like a table header */
            position: absolute;
            /* Top/left values mimic padding */
            top: 6px;
            left: 6px;
            width: 45%;
            padding-right: 10px;
            white-space: nowrap;
        }


        /*
	Label the data
	*/
        td:nth-of-type(1):before {
            content: "";
        }

        td:nth-of-type(2):before {
            content: "";
        }

        td:nth-of-type(3):before {
            content: "";
        }

        td:nth-of-type(4):before {
            content: "";
        }

        td:nth-of-type(5):before {
            content: "";
        }

        td:nth-of-type(6):before {
            content: "";
        }

        td:nth-of-type(7):before {
            content: "";
        }

        td:nth-of-type(8):before {
            content: "";
        }

        td:nth-of-type(9):before {
            content: "";
        }

        td:nth-of-type(10):before {
            content: "";
        }

    .container {
        padding: 0;
        margin: 0;
    }

    body {
        padding: 0;
    }

    .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;
    }

    .dropdown {
        margin: 0px;
    }

    .dropdown-menu {
        max-height: 20rem;
        overflow-y: auto;
    }

    .defaultBackground {
        background-color: #0302B5;
    }

    .fill {
        min-height: 100%;
        height: 100%;
    }

    #paddingElement{
        padding-left: 8px;
    }

    #myInput {
        width: 222px;
        padding-right: 8px;
    }

    #orangefnt {
        font-size: 6vw;
        color: #F6A400;
        font-weight: bold;
    }

    #orange {
        font-size: 6vw;
        font-weight: bold;
        color: #ffffff;
        background-color: #F29401;
        align-self: center;
        word-break: break-word;
        padding: 5px;
        border: 1px solid black;
    }

    #green {
        font-size: 6vw;
        font-weight: bold;
        color: #ffffff;
        background-color: #358F38;
        align-self: center;
        word-break: break-word;
        padding: 5px;
        border: 1px solid black;
    }

    #red {
        font-size: 6vw;
        font-weight: bold;
        color: #ffffff;
        background-color: #E2001A;
        align-self: center;
        word-break: break-word;
        padding: 5px;
        border: 1px solid black;
    }

    #gate {
        font-size: 6vw;
        color: #ffffff;
        border: 4px solid white;
        font-weight: bold;
        text-align: center;
        padding: 5px;
        background-color: #0302B5;
    }
    .CellWithComment {
        background-color: #0302B5;
    }
    #mobile {
        background-color: #0302B5;
        text-align: center;
    }
    #gateDotted {
        border-bottom: 1px dotted;
    }

    #belt {
        font-size: 6vw;
        border: 2px solid #151D41;
        background-color: #151D41;
        color: #F2ED77;
        font-weight: bold;
        text-align: center;
        align-self: center;
        padding: 5px;
        background-color: #0302B5;
    }
    /*#0302B5 depboard*/
    /*#F5FE3F gate*/

    /*fonts*/

    #departed {
        font-size: 6vw;
        border: 1px solid black;
        font-weight: bold;
        background-color: #ffffff;
        color: #000000;
        align-self: center;
        padding: 5px;
        word-break: break-word;
        min-width: 50px;
    }

    #delayed {
        font-size: 6vw;
        border: 1px solid black;
        font-weight: bold;
        background-color: #F29401;
        color: #ffffff;
        align-self: center;
        word-break: break-word;
        min-width: 50px;
    }

    #normalTime {
        font-size: 6vw;
        border: 1px solid black;
        font-weight: bold;
        background-color: #ffffff;
        color: #000000;
        align-self: center;
        word-break: break-word;
        min-width: 50px;
    }

    #early {
        font-size: 6vw;
        border: 1px solid black;
        font-weight: bold;
        background-color: #358F38;
        color: #ffffff;
        align-self: center;
        word-break: break-word;
        min-width: 50px;
    }

    #center {
        text-align: center;
    }

    #left {
        text-align: left;
    }

    /*oranssi on #F29401*/
    #atcAir {
        font-size: 6vw;
        color: #ffffff /*#EBFCA0*/;
        font-weight: bold;
        vertical-align: super;
        background-color: #0302B5;
    }

    .flight {
        font-size: 6vw;
        color: #ffffff /*#EBFCA0*/;
        /*background-color: #0302B5;*/
        font-weight: bold;
        background-color: #0302B5;
        text-align: center;
    }

    #flightText {
        text-decoration: none;
        font-size: 6vw;
        font-weight: bold;
        text-align: center;
        align-content: center;
        color: white;
    }

    .main {
        font-size: 14px;
        background-color: #ffffff;
    }

    #time {
        font-size: 6vw;
        color: #E3EE8E /*#EBFCA0*/;
        padding-bottom: 0px;
        font-weight: bold;
        background-color: #0302B5;
        text-align: center;
    }

    #destination {
        font-size: 6vw;
        color: #E3EE8E /*#EBFCA0*/;
        word-break: break-word;
        font-weight: bold;
        background-color: #0302B5;
        text-align: center;
    }

    #destinationNotFound {
        font-size: 6vw;
        color: #E3EE8E /*#EBFCA0*/;
        word-break: break-word;
        font-weight: bold;
        text-align: justify;
    }
    #left {
        background-color: #0302B5;
        text-align: center;
    }

    #center {
        background-color: #0302B5;
        text-align: center;
    }
    #registration {
        font-size: 6vw;
        color: #ffffff /*#EBFCA0*/;
        font-weight: bold;
        background-color: #0302B5;
        text-align: center;
    }

    #linkText {
        font-size: 6vw;
        font-weight: bold;
        text-align: center;
    }


}

@media only screen and (min-width: 411px) and (max-width: 575px) {
    
    .header {
        word-break: break-word;
        font-size: 10px;
    }

    #paddingElement {
        padding-left: 8px;
    }

    .dpb {
        display: block;
    }

    .container {
        padding: 0;
        margin: 0;
    }

    body {
        padding: 0;
    }

    .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;
    }

    .dropdown {
        margin: 0px;
    }

    .dropdown-menu {
        max-height: 20rem;
        overflow-y: auto;
    }


    .fill {
        min-height: 100%;
        height: 100%;
    }

    #myInput {
        width: 222px;
    }

    #limit {
        width: 62px;
    }

    #orangefnt {
        font-size: 2vw;
        color: #F6A400;
        font-weight: bold;
    }

    #orange {
        font-size: 2vw;
        font-weight: bold;
        color: #ffffff;
        background-color: #F29401;
        align-self: center;
        word-break: break-word;
        padding: 1px;
        border: 1px solid black;
    }

    #green {
        font-size: 2vw;
        font-weight: bold;
        color: #ffffff;
        background-color: #358F38;
        align-self: center;
        word-break: break-word;
        padding: 1px;
        border: 1px solid black;
    }

    #red {
        font-size: 2vw;
        font-weight: bold;
        color: #ffffff;
        background-color: #E2001A;
        align-self: center;
        word-break: break-word;
        padding: 1px;
        border: 1px solid black;
    }

    #gate {
        font-size: 2vw;
        color: #ffffff;
        border: 2px solid white;
        font-weight: bold;
        text-align: center;
        padding: 5px;
    }

    #gateDotted {
        border-bottom: 1px dotted;
    }

    #belt {
        font-size: 2vw;
        border: 2px solid #151D41;
        background-color: #151D41;
        color: #F2ED77;
        font-weight: bold;
        text-align: center;
        align-self: center;
        padding: 5px;
    }
    /*#0302B5 depboard*/
    /*#F5FE3F gate*/

    /*fonts*/

    #departed {
        font-size: 2vw;
        border: 1px solid black;
        font-weight: bold;
        background-color: #ffffff;
        color: #000000;
        align-self: center;
        padding: 1px;
        word-break: break-word;
    }

    #delayed {
        font-size: 2vw;
        border: 1px solid black;
        font-weight: bold;
        background-color: #F29401;
        color: #ffffff;
        align-self: center;
        word-break: break-word;
    }

    #normalTime {
        font-size: 2vw;
        border: 1px solid black;
        font-weight: bold;
        background-color: #ffffff;
        color: #000000;
        align-self: center;
        word-break: break-word;
    }

    #early {
        font-size: 2vw;
        border: 1px solid black;
        font-weight: bold;
        background-color: #358F38;
        color: #ffffff;
        align-self: center;
        word-break: break-word;
    }

    #center {
        text-align: center;
    }

    #left {
        text-align: left;
    }

    /*oranssi on #F29401*/
    #atcAir {
        font-size: 2vw;
        color: #ffffff /*#EBFCA0*/;
        font-weight: bold;
    }

    .flight {
        font-size: 2vw;
        color: #ffffff /*#EBFCA0*/;
        /*background-color: #0302B5;*/
        font-weight: bold;
    }

    #flightText {
        text-decoration: none;
        font-size: 2vw;
        font-weight: bold;
        text-align: center;
        align-content: center;
        color: white;
    }

    .main {
        font-size: 14px;
        background-color: #ffffff;
    }

    #time {
        font-size: 2vw;
        color: #E3EE8E /*#EBFCA0*/;
        padding-bottom: 0px;
        font-weight: bold;
    }

    #destination {
        font-size: 2vw;
        color: #E3EE8E /*#EBFCA0*/;
        font-weight: bold;
        word-break: break-word;
    }

    #destinationNotFound {
        font-size: 2vw;
        color: #E3EE8E /*#EBFCA0*/;
        word-break: break-word;
        font-weight: bold;
        text-align: justify;
    }

    #registration {
        font-size: 2vw;
        color: #ffffff /*#EBFCA0*/;
        font-weight: bold;
        vertical-align: super;
    }

    #linkText {
        font-size: 2vw;
        font-weight: bold;
        vertical-align: super;
    }

    tr:nth-child(even) {
        background-color: #0248F5;
    }

    tr:nth-child(odd) {
        background-color: #5B91FD;
    }

    .header:hover {
        background: #000;
        color: #ffffff;
    }

    tr:hover td {
        background: #000
    }
}

@media only screen and (min-width: 576px) and (max-width: 768px) {

    .header {
        word-break: break-word;
    }

    #paddingElement {
        padding-left: 8px;
    }

    .dpb {
        display: block;
    }

    .container {
        margin: auto;
    }

    body {
        padding: 0;
    }

    .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
    }

    .dropdown {
        margin: 0px;
    }

    .dropdown-menu {
        max-height: 20rem;
        overflow-y: auto;
    }


    .fill {
        min-height: 100%;
        height: 100%;
    }

    #myInput {
        width: 222px;
    }

    #orangefnt {
        font-size: 1.5vw;
        color: #F6A400;
        font-weight: bold;
    }

    #orange {
        font-size: 1.5vw;
        font-weight: bold;
        color: #ffffff;
        background-color: #F29401;
        align-self: center;
        word-break: break-word;
        padding: 5px;
        border: 1px solid black;
    }

    #green {
        font-size: 1.5vw;
        font-weight: bold;
        color: #ffffff;
        background-color: #358F38;
        align-self: center;
        word-break: break-word;
        padding: 5px;
        border: 1px solid black;
    }

    #red {
        font-size: 1.5vw;
        font-weight: bold;
        color: #ffffff;
        background-color: #E2001A;
        align-self: center;
        word-break: break-word;
        padding: 5px;
        border: 1px solid black;
    }

    #gate {
        font-size: 1.5vw;
        color: #ffffff;
        border: 2px solid white;
        font-weight: bold;
        text-align: center;
        padding: 5px;
    }

    #gateDotted {
        border-bottom: 1px dotted;
    }

    #belt {
        font-size: 1.5vw;
        border: 2px solid #151D41;
        background-color: #151D41;
        color: #F2ED77;
        font-weight: bold;
        text-align: center;
        align-self: center;
        padding: 5px;
    }
    /*#0302B5 depboard*/
    /*#F5FE3F gate*/

    /*fonts*/

    #departed {
        font-size: 1.5vw;
        border: 1px solid black;
        font-weight: bold;
        background-color: #ffffff;
        color: #000000;
        align-self: center;
        padding: 5px;
        word-break: break-word;
        min-width: 50px;
    }

    #delayed {
        font-size: 1.5vw;
        border: 1px solid black;
        font-weight: bold;
        background-color: #F29401;
        color: #ffffff;
        align-self: center;
        word-break: break-word;
        min-width: 50px;
    }

    #normalTime {
        font-size: 1.5vw;
        border: 1px solid black;
        font-weight: bold;
        background-color: #ffffff;
        color: #000000;
        align-self: center;
        word-break: break-word;
        min-width: 50px;
    }

    #early {
        font-size: 1.5vw;
        border: 1px solid black;
        font-weight: bold;
        background-color: #358F38;
        color: #ffffff;
        align-self: center;
        word-break: break-word;
        min-width: 50px;
    }

    #center {
        text-align: center;
    }

    #left {
        text-align: left;
    }

    /*oranssi on #F29401*/
    #atcAir {
        font-size: 1.5vw;
        color: #ffffff /*#EBFCA0*/;
        font-weight: bold;
        vertical-align: super;
    }

    .flight {
        font-size: 1.5vw;
        color: #ffffff /*#EBFCA0*/;
        /*background-color: #0302B5;*/
        font-weight: bold;
    }

    #flightText {
        text-decoration: none;
        font-size: 1.5vw;
        font-weight: bold;
        text-align: center;
        align-content: center;
        color: white;
    }

    .main {
        font-size: 14px;
        background-color: #ffffff;
    }

    #time {
        font-size: 1.5vw;
        color: #E3EE8E /*#EBFCA0*/;
        padding-bottom: 0px;
        font-weight: bold;
    }

    #destination {
        font-size: 1.5vw;
        color: #E3EE8E /*#EBFCA0*/;
        word-break: break-word;
        font-weight: bold;
    }

    #destinationNotFound {
        font-size: 1.5vw;
        color: #E3EE8E /*#EBFCA0*/;
        word-break: break-word;
        font-weight: bold;
        text-align: justify;
    }

    #registration {
        font-size: 1.5vw;
        color: #ffffff /*#EBFCA0*/;
        font-weight: bold;
        vertical-align: super;
    }

    #linkText {
        font-size: 1.5vw;
        font-weight: bold;
        vertical-align: super;
    }

    tr:nth-child(even) {
        background-color: #0248F5;
    }

    tr:nth-child(odd) {
        background-color: #5B91FD;
    }

    .header:hover {
        background: #000;
        color: #ffffff;
    }

    tr:hover td {
        background: #000
    }
}

@media only screen and (min-width:769px) and (max-width:1024px){

    .header {
        word-break: break-word;
    }

    #paddingElement {
        padding-left: 8px;
    }

    .dpb {
        display: block;
    }

    .container {
        margin: auto;
    }

    body {
        padding: 0;
    }

    .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
    }

    .dropdown {
        margin: 0px;
    }

    .dropdown-menu {
        max-height: 20rem;
        overflow-y: auto;
    }


    .fill {
        min-height: 100%;
        height: 100%;
    }

    #myInput {
        width: 222px;
    }

    #orangefnt {
        font-size: 1.75vw;
        color: #F6A400;
        font-weight: bold;
    }

    #orange {
        font-size: 1.75vw;
        font-weight: bold;
        color: #ffffff;
        background-color: #F29401;
        align-self: center;
        word-break: break-word;
        padding: 5px;
        border: 1px solid black;
    }

    #green {
        font-size: 1.75vw;
        font-weight: bold;
        color: #ffffff;
        background-color: #358F38;
        align-self: center;
        word-break: break-word;
        padding: 5px;
        border: 1px solid black;
    }

    #red {
        font-size: 1.75vw;
        font-weight: bold;
        color: #ffffff;
        background-color: #E2001A;
        align-self: center;
        word-break: break-word;
        padding: 5px;
        border: 1px solid black;
    }

    #gate {
        font-size: 1.75vw;
        color: #ffffff;
        border: 2px solid white;
        font-weight: bold;
        text-align: center;
        padding: 5px;
    }

    #gateDotted {
        border-bottom: 1px dotted;
    }

    #belt {
        font-size: 1.75vw;
        border: 2px solid #151D41;
        background-color: #151D41;
        color: #F2ED77;
        font-weight: bold;
        text-align: center;
        align-self: center;
        padding: 5px;
    }
    /*#0302B5 depboard*/
    /*#F5FE3F gate*/

    /*fonts*/

    #departed {
        font-size: 1.75vw;
        border: 1px solid black;
        font-weight: bold;
        background-color: #ffffff;
        color: #000000;
        align-self: center;
        padding: 5px;
        word-break: break-word;
        min-width: 50px;
    }

    #delayed {
        font-size: 1.75vw;
        border: 1px solid black;
        font-weight: bold;
        background-color: #F29401;
        color: #ffffff;
        align-self: center;
        word-break: break-word;
        min-width: 50px;
    }

    #normalTime {
        font-size: 1.75vw;
        border: 1px solid black;
        font-weight: bold;
        background-color: #ffffff;
        color: #000000;
        align-self: center;
        word-break: break-word;
        min-width: 50px;
    }

    #early {
        font-size: 1.75vw;
        border: 1px solid black;
        font-weight: bold;
        background-color: #358F38;
        color: #ffffff;
        align-self: center;
        word-break: break-word;
        min-width: 50px;
    }

    #center {
        text-align: center;
    }

    #left {
        text-align: left;
    }

    /*oranssi on #F29401*/
    #atcAir {
        font-size: 1.75vw;
        color: #ffffff /*#EBFCA0*/;
        font-weight: bold;
        vertical-align: super;
    }

    .flight {
        font-size: 1.75vw;
        color: #ffffff /*#EBFCA0*/;
        /*background-color: #0302B5;*/
        font-weight: bold;
    }

    #flightText {
        text-decoration: none;
        font-size: 1.75vw;
        font-weight: bold;
        text-align: center;
        align-content: center;
        color: white;
    }

    .main {
        font-size: 14px;
        background-color: #ffffff;
    }

    #time {
        font-size: 1.75vw;
        color: #E3EE8E /*#EBFCA0*/;
        padding-bottom: 0px;
        font-weight: bold;
    }

    #destination {
        font-size: 1.75vw;
        color: #E3EE8E /*#EBFCA0*/;
        word-break: break-word;
        font-weight: bold;
    }

    #destinationNotFound {
        font-size: 1.75vw;
        color: #E3EE8E /*#EBFCA0*/;
        word-break: break-word;
        font-weight: bold;
        text-align: justify;
    }

    #registration {
        font-size: 1.75vw;
        color: #ffffff /*#EBFCA0*/;
        font-weight: bold;
        vertical-align: super;
    }

    #linkText {
        font-size: 1.75vw;
        font-weight: bold;
        vertical-align: super;
    }

    tr:nth-child(even) {
        background-color: #0248F5;
    }

    tr:nth-child(odd) {
        background-color: #5B91FD;
    }

    .header:hover {
        background: #000;
        color: #ffffff;
    }

    tr:hover td {
        background: #000
    }
}

@media only screen and (min-width: 1025px) and (max-width:1336px) { /*Ei valmis*/

    /*background-color: #0302B5;*/

    #paddingElement {
        padding-left: 8px;
    }

    #myInput {
        width: 222px;
    }

    #myTable {
        table-layout: fixed;
        width: 100%;
    }

    #orangefnt {
        font-size: 1.75vw;
        color: #F6A400;
        font-weight: bold;
    }

    #orange {
        font-size: 1.75vw;
        font-weight: bold;
        color: #ffffff;
        background-color: #F29401;
        align-self: center;
        word-break: break-word;
        padding: 5px;
        border: 1px solid black;
    }

    #green {
        font-size: 1.75vw;
        font-weight: bold;
        color: #ffffff;
        background-color: #358F38;
        align-self: center;
        word-break: break-word;
        padding: 5px;
        border: 1px solid black;
    }

    #red {
        font-size: 1.75vw;
        font-weight: bold;
        color: #ffffff;
        background-color: #E2001A;
        align-self: center;
        word-break: break-word;
        padding: 5px;
        border: 1px solid black;
    }

    #gate {
        font-size: 1.75vw;
        color: #ffffff;
        border: 2px solid white;
        font-weight: bold;
        text-align: center;
        padding: 5px;
    }

    #gateDotted {
        border-bottom: 1px dotted;
    }

    #belt {
        font-size: 1.75vw;
        border: 2px solid #151D41;
        background-color: #151D41;
        color: #F2ED77;
        font-weight: bold;
        text-align: center;
        align-self: center;
        padding: 5px;
    }
    /*#0302B5 depboard*/
    /*#F5FE3F gate*/

    /*fonts*/

    #departed {
        font-size: 1.75vw;
        border: 1px solid black;
        font-weight: bold;
        background-color: #ffffff;
        color: #000000;
        align-self: center;
        padding: 5px;
        word-break: break-word;
        min-width: 50px;
    }

    #delayed {
        font-size: 1.75vw;
        border: 1px solid black;
        font-weight: bold;
        background-color: #F29401;
        color: #ffffff;
        align-self: center;
        word-break: break-word;
        min-width: 50px;
    }

    #normalTime {
        font-size: 1.75vw;
        border: 1px solid black;
        font-weight: bold;
        background-color: #ffffff;
        color: #000000;
        align-self: center;
        word-break: break-word;
        min-width: 50px;
    }

    #early {
        font-size: 1.75vw;
        border: 1px solid black;
        font-weight: bold;
        background-color: #358F38;
        color: #ffffff;
        align-self: center;
        word-break: break-word;
        min-width: 50px;
    }

    #center {
        text-align: center;
    }

    #left {
        text-align: left;
    }

    /*oranssi on #F29401*/
    #atcAir {
        font-size: 1.75vw;
        color: #ffffff /*#EBFCA0*/;
        font-weight: bold;
        vertical-align: super;
    }

    .flight {
        font-size: 1.75vw;
        color: #ffffff /*#EBFCA0*/;
        /*background-color: #0302B5;*/
        font-weight: bold;
    }

    #flightText {
        text-decoration: none;
        font-size: 1.5vw;
        font-weight: bold;
        text-align: center;
        align-content: center;
        color: white;
    }

    .main {
        font-size: 14px;
        background-color: #ffffff;
    }

    #time {
        font-size: 1.75vw;
        color: #E3EE8E /*#EBFCA0*/;
        padding-bottom: 0px;
        font-weight: bold;
    }

    #destination {
        font-size: 1.75vw;
        color: #E3EE8E /*#EBFCA0*/;
        word-break: break-word;
        font-weight: bold;
    }

    #destinationNotFound {
        font-size: 1.75vw;
        color: #E3EE8E /*#EBFCA0*/;
        word-break: break-word;
        font-weight: bold;
        text-align: justify;
    }

    #registration {
        font-size: 1.75vw;
        color: #ffffff /*#EBFCA0*/;
        font-weight: bold;
        vertical-align: super;
    }

    #linkText {
        font-size: 1.5vw;
        font-weight: bold;
        vertical-align: super;
    }

    tr:nth-child(even) {
        background-color: #0248F5;
    }

    tr:nth-child(odd) {
        background-color: #5B91FD;
    }

    .header:hover {
        background: #000;
        color: #ffffff;
    }

    tr:hover td {
        background: #000
    }
}

@media only screen and (min-width: 1337px) and (max-width:1920px) { /*Ei valmis*/

    /*background-color: #0302B5;*/

    #paddingElement {
        padding-left: 8px;
    }

    #myInput {
        width: 222px;
    }

    #myTable {
        table-layout: fixed;
        width: 100%;
    }

    #orangefnt {
        font-size: 1vw;
        color: #F6A400;
        font-weight: bold;
    }

    #orange {
        font-size: 1vw;
        font-weight: bold;
        color: #ffffff;
        background-color: #F29401;
        align-self: center;
        word-break: break-word;
        padding: 5px;
        border: 1px solid black;
    }

    #green {
        font-size: 1vw;
        font-weight: bold;
        color: #ffffff;
        background-color: #358F38;
        align-self: center;
        word-break: break-word;
        padding: 5px;
        border: 1px solid black;
    }

    #red {
        font-size: 1vw;
        font-weight: bold;
        color: #ffffff;
        background-color: #E2001A;
        align-self: center;
        word-break: break-word;
        padding: 5px;
        border: 1px solid black;
    }

    #gate {
        font-size: 1vw;
        color: #ffffff;
        border: 2px solid white;
        font-weight: bold;
        text-align: center;
        padding: 5px;
    }

    #gateDotted {
        border-bottom: 1px dotted;
    }

    #belt {
        font-size: 1vw;
        border: 2px solid #151D41;
        background-color: #151D41;
        color: #F2ED77;
        font-weight: bold;
        text-align: center;
        align-self: center;
        padding: 5px;
    }
    /*#0302B5 depboard*/
    /*#F5FE3F gate*/

    /*fonts*/

    #departed {
        font-size: 1vw;
        border: 1px solid black;
        font-weight: bold;
        background-color: #ffffff;
        color: #000000;
        align-self: center;
        padding: 5px;
        word-break: break-word;
        min-width: 50px;
    }

    #delayed {
        font-size: 1vw;
        border: 1px solid black;
        font-weight: bold;
        background-color: #F29401;
        color: #ffffff;
        align-self: center;
        word-break: break-word;
        min-width: 50px;
    }

    #normalTime {
        font-size: 1vw;
        border: 1px solid black;
        font-weight: bold;
        background-color: #ffffff;
        color: #000000;
        align-self: center;
        word-break: break-word;
        min-width: 50px;
    }

    #early {
        font-size: 1vw;
        border: 1px solid black;
        font-weight: bold;
        background-color: #358F38;
        color: #ffffff;
        align-self: center;
        word-break: break-word;
        min-width: 50px;
    }

    #center {
        text-align: center;
    }

    #left {
        text-align: left;
    }

    /*oranssi on #F29401*/
    #atcAir {
        font-size: 1vw;
        color: #ffffff /*#EBFCA0*/;
        font-weight: bold;
        vertical-align: super;
    }

    .flight {
        font-size: 1vw;
        color: #ffffff /*#EBFCA0*/;
        /*background-color: #0302B5;*/
        font-weight: bold;
    }

    #flightText {
        text-decoration: none;
        font-size: 1vw;
        font-weight: bold;
        text-align: center;
        align-content: center;
        color: white;
    }

    .main {
        font-size: 14px;
        background-color: #ffffff;
    }

    #time {
        font-size: 1vw;
        color: #E3EE8E /*#EBFCA0*/;
        padding-bottom: 0px;
        font-weight: bold;
    }

    #destination {
        font-size: 1vw;
        color: #E3EE8E /*#EBFCA0*/;
        word-break: break-word;
        font-weight: bold;
    }

    #destinationNotFound {
        font-size: 1vw;
        color: #E3EE8E /*#EBFCA0*/;
        word-break: break-word;
        font-weight: bold;
        text-align: justify;
    }

    #registration {
        font-size: 1vw;
        color: #ffffff /*#EBFCA0*/;
        font-weight: bold;
        vertical-align: super;
    }

    #linkText {
        font-size: 1vw;
        font-weight: bold;
        vertical-align: super;
    }

    tr:nth-child(even) {
        background-color: #0248F5;
    }

    tr:nth-child(odd) {
        background-color: #5B91FD;
    }

    .header:hover {
        background: #000;
        color: #ffffff;
    }

    tr:hover td {
        background: #000
    }
}

@media only screen and (min-width: 1921px) { /*Ei valmis*/

    /*background-color: #0302B5;*/


    #paddingElement {
        padding-left: 8px;
    }

    #myInput {
        width: 222px;
    }

    #myTable {
        table-layout: fixed;
        width: 100%;
    }

    #orangefnt {
        font-size: 0.7vw;
        color: #F6A400;
        font-weight: bold;
    }

    #orange {
        font-size: 0.7vw;
        font-weight: bold;
        color: #ffffff;
        background-color: #F29401;
        align-self: center;
        word-break: break-word;
        padding: 5px;
        border: 1px solid black;
    }

    #green {
        font-size: 0.7vw;
        font-weight: bold;
        color: #ffffff;
        background-color: #358F38;
        align-self: center;
        word-break: break-word;
        padding: 5px;
        border: 1px solid black;
    }

    #red {
        font-size: 0.7vw;
        font-weight: bold;
        color: #ffffff;
        background-color: #E2001A;
        align-self: center;
        word-break: break-word;
        padding: 5px;
        border: 1px solid black;
    }

    #gate {
        font-size: 0.7vw;
        color: #ffffff;
        border: 2px solid white;
        font-weight: bold;
        text-align: center;
        padding: 5px;
    }

    #gateDotted {
        border-bottom: 1px dotted;
    }

    #belt {
        font-size: 0.7vw;
        border: 2px solid #151D41;
        background-color: #151D41;
        color: #F2ED77;
        font-weight: bold;
        text-align: center;
        align-self: center;
        padding: 5px;
    }
    /*#0302B5 depboard*/
    /*#F5FE3F gate*/

    /*fonts*/

    #departed {
        font-size: 0.7vw;
        border: 1px solid black;
        font-weight: bold;
        background-color: #ffffff;
        color: #000000;
        align-self: center;
        padding: 5px;
        word-break: break-word;
        min-width: 50px;
    }

    #delayed {
        font-size: 0.7vw;
        border: 1px solid black;
        font-weight: bold;
        background-color: #F29401;
        color: #ffffff;
        align-self: center;
        word-break: break-word;
        min-width: 50px;
    }

    #normalTime {
        font-size: 0.7vw;
        border: 1px solid black;
        font-weight: bold;
        background-color: #ffffff;
        color: #000000;
        align-self: center;
        word-break: break-word;
        min-width: 50px;
    }

    #early {
        font-size: 0.7vw;
        border: 1px solid black;
        font-weight: bold;
        background-color: #358F38;
        color: #ffffff;
        align-self: center;
        word-break: break-word;
        min-width: 50px;
    }

    #center {
        text-align: center;
    }

    #left {
        text-align: left;
    }

    /*oranssi on #F29401*/
    #atcAir {
        font-size: 0.7vw;
        color: #ffffff /*#EBFCA0*/;
        font-weight: bold;
        vertical-align: super;
    }

    .flight {
        font-size: 0.7vw;
        color: #ffffff /*#EBFCA0*/;
        /*background-color: #0302B5;*/
        font-weight: bold;
    }

    #flightText {
        text-decoration: none;
        font-size: 0.7vw;
        font-weight: bold;
        text-align: center;
        align-content: center;
        color: white;
    }

    .main {
        font-size: 14px;
        background-color: #ffffff;
    }

    #time {
        font-size: 0.7vw;
        color: #E3EE8E /*#EBFCA0*/;
        padding-bottom: 0px;
        font-weight: bold;
    }

    #destination {
        font-size: 0.7vw;
        color: #E3EE8E /*#EBFCA0*/;
        word-break: break-word;
        font-weight: bold;
    }

    #destinationNotFound {
        font-size: 0.7vw;
        color: #E3EE8E /*#EBFCA0*/;
        word-break: break-word;
        font-weight: bold;
        text-align: justify;
    }

    #registration {
        font-size: 0.7vw;
        color: #ffffff /*#EBFCA0*/;
        font-weight: bold;
        vertical-align: super;
    }

    #linkText {
        font-size: 0.7vw;
        font-weight: bold;
        vertical-align: super;
    }

    tr:nth-child(even) {
        background-color: #0248F5;
    }

    tr:nth-child(odd) {
        background-color: #5B91FD;
    }

    .header:hover {
        background: #000;
        color: #ffffff;
    }

    tr:hover td {
        background: #000
    }
}

.CellWithComment {
    position: relative;
}

.CellComment {
    display: none;
    position: absolute;
    z-index: 100;
    border: 1px;
    background-color: white;
    border-style: solid;
    font-weight: bold;
    border-width: 1px;
    border-color: red;
    padding: 3px;
    color: black;
    top: 20px;
    left: 20px;
}

.CellWithComment:hover span.CellComment {
    display: block;
}

.CellWithComment2 {
    position: relative;
}

.CellComment2 {
    display: none;
    position: absolute;
    z-index: 100;
    border: 1px;
    background-color: black;
    border-style: solid;
    font-weight: bold;
    border-width: 1px;
    border-color: red;
    border-radius: 6px;
    padding: 5px 0;
    color: #fff;
    top: 20px;
    left: 20px;
}

.CellWithComment2:hover span.CellComment2 {
    display: block;
}

.conttainer {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    /* Hide the browser's default checkbox */
    .conttainer input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    left: 30px;
    height: 20px;
    width: 20px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.conttainer:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.conttainer input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.conttainer input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.conttainer .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}