extends layout
//-
  value='hel' Helsinki valittuna valmiiksi
block content
  head
    title Bootstrap Example
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.7.1/css/all.css')
    link(rel='stylesheet', href='stylesheets/main.css')
    link(rel='stylesheet', href='stylesheets/contact.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js')
    script.
      $(document).on('click',function(){
      $('.collapse').collapse('hide');
      })
      function getString(s) { return s.slice(0,2) + "-" + s.slice(3); };
      $(document).on('click',function(){
      $('.collapse').collapse('hide');
      })
      function getString(s) { return s.slice(0,2) + "-" + s.slice(3); };
      $(document).ready(function() {
        $(window).scroll(function() {
          if ($(this).scrollTop() > 100) {
            $('#scroll').fadeIn();
          } else {
            $('#scroll').fadeOut();
          }
        });
        $('#scroll').click(function() {
          $("html, body").animate({
            scrollTop: 0
          }, 600);
          return false;
        });
      });
  body
    a#scroll(href='#', style='display: none;')
      span
    nav.navbar.navbar-expand-md.bg-dark.navbar-dark.container.container
      a.navbar-brand(href='/')
        i.fas.fa-home  Lennot
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#collapsibleNavbar')
        span.navbar-toggler-icon
      #collapsibleNavbar.collapse.navbar-collapse
        ul.navbar-nav
          li.nav-item
            a.nav-link(href='/airline') Lentoyhtiöt
          li.nav-item
            a.nav-link(href='/airport') Lentoasemat
          li.nav-item
            a.nav-link(href='/security') Turvatarkastus
          li.nav-item
            a.nav-link(href='/contact') Ota yhteyttä
    .container.main
      .container#mobilePadding
        br
        h3 Yhteystiedot
        address
          | Written by 
          a(href='mailto:webmaster@example.com') Jon Doe
          | .
          br
          | Visit us at:
          br
          | Example.com
          br
          | Box 564, Disneyland
          br
          | USA
          br
        p 
          | Visit application programming interface developer page
          | by clicking the link below.
        a(href='https://developer.finavia.fi/')
          img(alt='', src='/images/apilink.jpg')
        br
        br
    footer.footer
      .container.main#clr
        span.text-muted 2019 Web- ja Mobiilikäyttöliittymät